asgiref==3.8.1
dj-rest-auth==2.2.8
Django==3.2.25
django-cors-headers==3.13.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
PyJWT==2.8.0
pytz==2024.1
sqlparse==0.4.4
typing-extensions==4.10.0
