<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DRF</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
    />
    <script type="module" crossorigin src="/static/spa/index-B9v-Odi3.js"></script>
    <link rel="stylesheet" crossorigin href="/static/spa/index-DUTclHgt.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
